<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div> rus: <a href="/rus"> На русский </a> </div>
    <div> eng: <a href="/eng"> На английский </a> </div>
    <div> table: <a href="/table"> На таблицу </a> </div>
    <div> Image: <a href="/image"> На картинку </a> </div>

    <hr>
    {% block content %}{% endblock %}
    
</body>
</html>